<header>
  <nav class="navbar">
    <div class="navbar-content">
      {% block trophy %}
      {% endblock %}
      <div class="dropdown-menu">
          <a href="{% url 'authentication:signin' %}" class="dropdown-item">Sign In</a>
          <a href="{% url 'authentication:signup' %}" class="dropdown-item">Sign Up</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'authentication:tournaments' %}">Play</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'authentication:media-page' %}">H-O-F</a></li>
      </ul>
    </div>
  </nav>
</header>
