<header>
  <nav class="navbar">
    <div class="navbar-content">
      {% block trophy %}
      {% endblock %}
      <div class="dropdown-menu">
          <a href="{% url 'authentication:tournaments' %}" class="dropdown-item">Tournaments</a>
          <a href="{% url 'authentication:signout'%}" class="dropdown-item">Sign Out</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'baseballSL:messages' 1 %}">Messages</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'baseballSL:leaders' 1 %}">Leader Board</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'baseballSL:checking' 1 %}">Play</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'baseballSL:room' room_name='baseball-SL' league_num=1 %}">Chat</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'baseballSL:payment' 1 %}">Pay</a></li>
      </ul>
    </div>
  </nav>
</header>