<!DOCTYPE html>
<head>
    <title>Player Search</title>
</head>
<body>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show d-inline-block" role="alert">
<strong>Message:</strong> {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}


    <h1>Search for NFL Players</h1>

<form class ="d-flex" method="post" action="{% url 'game' %}">
    {% csrf_token %}
    <input class = "form-control me-2" type="searched" name="searched">
    <button type="submit">Search</button>
</form>


    <h2>Search Results</h2>

    {% if player_data %}
        <h3>Select a player:</h3>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for player in player_data %}
                    <li>
                        {{ player.name }}
                        <button type="submit" name="selected_player" value="{{ player.name }}">Select</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    {% else %}
        <p>No matching players found.</p>
    {% endif %}
</body>


{% for user in user_data %}
<h2>Pick #1: {{ user.pick1 }}</h2>
    <form method="post" action="{% url 'game' %}">
         {% csrf_token %}
        <input type="hidden" name="change_pick" value="pick1">
        <button type="submit">Change</button>
    </form>
<h2>Pick #2: {{ user.pick2 }}</h2>
    <form method="post" action="{% url 'game' %}">
         {% csrf_token %}
        <input type="hidden" name="change_pick" value="pick2">
        <button type="submit">Change</button>
    </form>
{% endfor %}


