<!DOCTYPE html>
<head>
    <title>Player Search</title>
</head>
<body>
    <h1>Search for NFL Players</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>

    {% if player_data %}
        <h3>Select a player:</h3>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for player in player_data %}
                    <li>
                        {{ player.fname }} {{ player.lname }} - {{ player.position }} - {{ player.team }}
                        <button type="submit" name="selected_player" value="{{ player.fname }} {{ player.lname }}">Select</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    {% else %}
        <p>No matching players found.</p>
    {% endif %}
</body>


<!-- Display selected player confirmation
{% if confirmation_message %}
     <div>{{ confirmation_message }}</div>
{% endif %}

{% if confirmation_message %}
    <h3>{{ confirmation_message }}</h3>
{% endif %}

{%  if confirmation_message1 %}
    <h3>{{ confirmation_message1 }}</h3>
{% endif %}

--->

{% for user in user_data %}
<h2>Pick #1: {{ user.pick1 }}</h2>
    <form method="post" action="{% url 'game' %}">
         {% csrf_token %}
        <input type="hidden" name="change_pick" value="pick1">
        <button type="submit">Change</button>
    </form>
<h2>Pick #2: {{ user.pick2 }}</h2>
    <form method="post" action="{% url 'game' %}">
         {% csrf_token %}
        <input type="hidden" name="change_pick" value="pick2">
        <button type="submit">Change</button>
    </form>
{% endfor %}


