{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
<strong>Message:</strong> {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}

<h3>RESET PASSWORD</h3>

<form action="{% url 'passreset' uidb64=uidb64 token=token %}" method="post">
{% csrf_token %}	
<label>Password</label>
	<input type="password" id = "password1" name="password1"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Create a Password" required>
	<br>
	<label>Password</label>
	<input type="password" id = "password2" name="password2" placeholder="Confirm your password"  required>
	<br>
	<button type="submit">Reset Password</button>
</form>
