<h2>Search Players</h2>
<form class ="d-flex" method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <input class = "form-control me-2" type="searched" name="searched">
    <button type="submit">Search</button>
</form>

{% if players %}
    <h3>Results:</h3>
    <ul>
        {% for player in players %}
            <li>{{ player.name }}
            <button type="submit" name="selected_player" value="player.name">Select</button>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No players found.</p>
{% endif %}
